<div class="container">
<h1> Just a test </h1>
</div>

<div class="scotch_review">
<h1><%= @scotch.distillery %></h1>
<p><img src="<%= @scotch.img_url %>" height="300"/></p>
<p><%= @scotch.tasting_notes %><p>
</div>



